@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Handlee&family=Neucha&family=Open+Sans&display=swap");

:root {
  background-color: #98f5e1;
  opacity: 0.9;
  color: rgb(40, 38, 38);
  font-family: Fredoka, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

*,
html,
body {
  margin: 0;
  padding: 0;
}

.signincomp {
  margin-left: 10%;
  margin-right: 5%;
  justify-content: center;
}
.container {
  margin-top: 10%;
}

.header-description{
  display: flex;
}
.container0 img {
  border-radius: 0px;
  width: 20%;
}
/*--colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';*/

/* SignIn & SingUp Component */
/*.header-description h2 {
  display: flex;
  margin-top: 15%;
  margin-left: 10%;
  font-size: 2rem;
}

#titulo1 {
  background-color: red;
  text-align: center;
  width: 60vw;
}

.container0 {
  display: flex;
  font-size: 25px;
  font-style: italic;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 25%;
  gap: 100px;
}
.container0 img {
  border-radius: 0px;
  transform: rotate(20deg);
  width: 30%;
}

.container1 {
  display: flex;
  border-radius: 10px;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.container1 h1 {
  font-size: 50 px;
}

.container1 h4 {
  font-family: "Handle", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 1.5rem;
}

.container2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 40%;
  height: 150px;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

.form label {
  margin-right: 5%;
  line-height: 3;
}

.form input {
  border-color: #98f5e1;
  width: 50%;
  height: 25px;
  border-radius: 5px;
}

.button {
  background-color: #98f5e1;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border-color: #98f5e1;
  font-size: 18px;
  font-style: bold;
}

/*Navbar component ----------*/

.navbar {
  background-image: url(../images/fondonav.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no repeat;
  height: 130px;

  display: flex;
  flex-direction: row;
  font-family: "Fredoka", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: bold;
  /*position: absolute;
  left: 0;
  right: 0;
  top: o;*/
}
.libretanav {
  border-radius: 0;
  width: 100px;
  transform: rotate(-20deg);
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
}

.buttonsign {
  background-color: #98f5e1;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border-color: #98f5e1;
  font-size: 18px;
  font-style: bold;
}
/* NewTask.vue ---------- */

.newTask {
  background-color: white;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 200px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

.tituloNewTask {
  margin-left: 35%;
}
.inTextDescp {
  height: 100px;
}

/* Task.vue-------*/

.containerTask {
  background-image: url(../images/Fondonotaclipamarillo.PNG);
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  font-family: Handlee, Arial, Helvetica, sans-serif;
  width: 250px;
  height: 250px;
  text-align: center;
  justify-content: center;
  padding-top: 5%;
  padding-left: 5%;
  font-size: 25px;
}

.buttCompl {
  background-image: url(../images/Botonconfirmar.PNG);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no repeat;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
}

.buttUpd {
  background-image: url(../images/Botoneditar.PNG);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no repeat;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
}
.buttDel {
  background-image: url(../images/Botoneliminar.PNG);
  background-size: cover;
  background-position: center center;
  background-repeat: no repeat;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
}
.hovComp {
  display: none;
  position: relative;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 5px;
  font-size: 12px;
  height: 40px;
  width: 60px;
}
.buttCompl:hover + .hovComp {
  display: block;
}

.hovUpd {
  display: none;
  position: relative;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 5px;
  font-size: 12px;
  height: 40px;
  width: 60px;
}
.buttUpd:hover + .hovUpd {
  display: block;
}

.hovDel {
  display: none;
  position: relative;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 5px;
  font-size: 12px;
  height: 40px;
  width: 60px;
}
.buttDel:hover + .hovDel {
  display: block;
}
/* SignUp Component */

/* Home view */

/* Account View */

/* Responsive 1: 1252px to 750px*/
@media (max-width: 1252px) {
  .header-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container1 {
    height: auto;
  }

  .container2 {
    height: auto;
  }
}

/* Footer Component -------- */
.footerTotal {
  background-image: url(../images/fondonav.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no repeat;
  height: 80px;

  display: flex;
  flex-direction: row;
  font-family: "Fredoka", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: bold;
  position: absolute;
  bottom: 0;
}
