@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Handlee&family=Neucha&family=Open+Sans&display=swap");



:root {
  background-color: #98f5e1;
  opacity: 0.9;
  color: rgb(40, 38, 38);
  font-family: Fredoka, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

*,
html,
body {
  margin: 0;
  padding: 0;
}

/*DIseño WEB MOBILE FIRST*/

/* Estilo de SIGN-IN */

.singingeneral {
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}
.libreta {
  border-radius: 0px;
  width: 20%;
  float: right;
  transform: rotate(20deg);
  margin-right: 10%;
}

.containersing1 {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 80%;
  gap: 15px;
}

.containersing1 h1 {
  margin-left: 5%;
  width: 80vw;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
  text-shadow: 2px 2px rgb(254, 252, 252);
}

.containersing1 h2 {
  font-family: handlee, Arial, Helvetica, sans-serif;
  color: rgb(40, 38, 38);
  font-size: 500%;
  font-weight: 900;
  -webkit-text-stroke: 0.1px white;
  line-height: 50px;
}

.containersing1 h4 {
  width: 70vw;
  font-size: 120%;
}

.containersing2 {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 8vw;
  border-radius: 5px;
  background-color: white;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  font-size: 80%;
  gap: 12px;
}

.containersing2 h3{
  font-size: 150%;
}

.header-subtitle{
  margin-bottom: 5px;
}

.formInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.buttonSign {
  background-color: #98f5e1;
  width: 30%;
  height: 25px;
  border-radius: 5px;
  border-color: #98f5e1;
  font-size: 90%;
  font-style: bold;
}

.form-input input {
  border-style: none;
  background-color: #EAF1FE;
  height: 7vw;
  width: 40vw;
  padding: 3px;
  border-radius: 5px;
  justify-content: center;
  padding-left: 10px;
  text-align: center;
}

.butSup {
  margin-left: 35%;
}

/* FIN DEL DISEÑO SIGN IN*/


/*Navbar component ----------*/
.navtotal{
  padding:0;
}
.navbar {
  background-image: url(../images/fondonav.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no repeat;
  width: 100vw;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
.libretanav {
  display:none;
  margin-top: 3%;
  margin-left: 3%;
  border-radius: 0;
  transform: rotate(-20deg);
  width: 40%;
}

.textsNav{
  margin-right: 20%;
  display: flex;
  font-size: 12px;
  text-decoration: none;
  font-weight: 700;
  color: black;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:5px;
}
.navList {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.buttonsign {
  background-color: #98f5e1;
  width: 125%;
  height: 25px;
  border-radius: 5px;
  border-color: #98f5e1;
  font-size: 90%;
  font-style: bold;
}

.butLog {
  margin-left: 150%;
}
/*Navbar menu hamburguesa ------*/
.nav-ordernador{
  display:none;
}
.nav-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 0 0 8% 8%;
    width: 50%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }

  .navBtn {
    display: block;
    margin: 0.5rem 0;
    font-size: 1.5rem;
  }

  .button {
    display: block;
    width: 100%;
    text-align: center;
  }
   .hamburger {
    display: block;
    z-index:300
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: -100%;
    gap: 0;
    flex-direction: column;
   /*  background-color: #c8c8c8; */
    width: 50%;
    text-align: left;
    transition: top 0.5s;
    left: 0%;
  }

  .nav-menu.active {
    /* display: flex;
    flex-direction: column; */
    top: 40px
  }

  .hamburger.active span {
    background-color: #fff;
  }

  .navBtn1{
    display: none
  }


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.imgNav {
  width: 5vw;
  max-width: 100%;
}

.nav-menu {
  display: none;
  flex-direction: row;
  align-items: center;
}

.navBtn {
  display:flex;
  margin: 1rem;
  color: #777;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navBtn.active {
  color: #000;
  font-weight: bold;
}

.button {
  background-color: #2962ff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #0039cb;
}

.hamburger {
  display: block;
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  border: none;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  background-color: #000;
  transition: transform 0.2s ease-out;
}

.hamburger.active span:first-of-type {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-of-type(2) {
  opacity: 0;
}

.hamburger.active span:last-of-type {
  transform: translateY(-9px) rotate(-45deg);
}

/* Footer*/
.footerTotal {
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  width: 100%;
  margin: 0;
  padding: 2%;
}

/*Home*/

.content {
  /*margin-top: 3%;*/
  margin-left: 5%;

  font-size: 12px;
}

/* NewTask.vue ---------- */
.tituloNewTask {
  width: 80%;
  margin: 5%;
  padding-left: 5%;
  font-size: 25px;
  text-align: center;
  color: #3d3939;
}
.newTask {
  background-color: white;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6%;
  margin-bottom: 3%;
  padding: 3%;
  width: 50%;
  height: 180px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

.inputTitle {
  margin-top: 5%;
  background-color: rgba(152, 245, 225, 0.2);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-style: none;
  height: 30px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.inTextDescp {
  margin-top: 5%;
  background-color: rgba(152, 245, 225, 0.2);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-style: none;
  height: 30px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.buttonAdd {
  margin-top: 5%;
  background-color: #98f5e1;
  border-radius: 5px;
  border-color: #98f5e1;
  font-size: 90%;
  font-style: bold;
  width: 30%;
  height: 50px;
}

.inTextDescp {
  height: 100px;
}


/* Task.vue-------*/
.recuadro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notadh {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerTask {
  margin-top: 5%;
  background-image: url(/src/images/Fondonotaclipamarillo.PNG);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Handlee, Arial, Helvetica, sans-serif;
  width: 200px;
  height: 250px;
  text-align: center;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
}


.buttCompl {
  background-image: url(../images/Botonconfirmar.PNG);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no repeat;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
}

.buttUpd {
  background-image: url(../images/Botoneditar.PNG);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no repeat;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
}
.buttDel {
  background-image: url(../images/Botoneliminar.PNG);
  background-size: cover;
  background-position: center center;
  background-repeat: no repeat;
  width: 37px;
  height: 37px;
  border: none;
  outline: none;
  background-color: transparent;
}

/* Estilo Modal Eliminar------*/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 5px;
  border-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*Estilo Modal Edit ------*/
.modal-mask1 {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.botonokmod{
  margin-top: 5%;
  background-color: #98f5e1;
  border-radius: 5px;
  border-color: #98f5e1;
  font-size: 90%;
  font-style: bold;
  width: 30%;
  height: 40px;
  margin-right: 15px;
}

.botoncancmod{
  margin-top: 5%;
  background-color: #98f5e1;
  border-radius: 5px;
  border-color: #98f5e1;
  font-size: 90%;
  font-style: bold;
  width: 30%;
  height: 40px;
}

.buttonSendData {
  margin-top: 5%;
  background-color: #98f5e1;
  border-radius: 5px;
  border-color: #98f5e1;
  font-size: 90%;
  font-style: bold;
  width: 30%;
  height: 40px;
}
/*.hovComp {
  display: none;
  position: relative;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 5px;
  font-size: 12px;
  height: 40px;
  width: 60px;
}
.buttCompl:hover + .hovComp {
  display: block;
}

.hovUpd {
  display: none;
  position: relative;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 5px;
  font-size: 12px;
  height: 40px;
  width: 60px;
}
.buttUpd:hover + .hovUpd {
  display: block;
}

.hovDel {
  display: none;
  position: relative;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 5px;
  font-size: 12px;
  height: 40px;
  width: 60px;
}
.buttDel:hover + .hovDel {
  display: block;*/

/* SignUp Component */

/* Clock component --------*/

.libretaclock{
  border-radius: 0;
  width: 30%;
}
.totalClock{
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.clockContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap:20px;
}

.clock {
  /*margin-top: 20%;
  margin-left: 10%;
  margin-right: auto;*/

}

.textClock {
  /*margin-top: 20%;
  margin-left: 20%;*/
  font-size: 250%;
}

.imgClock {
  border-radius: 0;
  width: 20%;
  /*margin-top: 10%;
  margin-left: 40%;*/
}

.nino img{
  border-radius: 0px;
  width: 20%;
  /*margin-left: 30%;
  margin-bottom: 0;
  padding-bottom: 0;*/
}
.blanco{
  background-color: white;
  margin: 0px;
  height: 80%;
}

/* Account View */


@media (min-width: 500px) {

  /* Tasks*/
.inputTitle {
  margin-top: 5%;
  background-color: rgba(152, 245, 225, 0.2);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-style: none;
  height: 30px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.inTextDescp {
  margin-top: 5%;
  background-color: rgba(152, 245, 225, 0.2);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border-style: none;
  height: 30px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.buttonAdd {
  margin-top: 5%;
  background-color: #98f5e1;
  border-radius: 5px;
  border-color: #98f5e1;
  font-size: 90%;
  font-style: bold;
  width: 30%;
  height: 40px;
}

.inTextDescp {
  height: 100px;
}
.recuadro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap:5%;
}


}
@media (min-width: 750px) {


  /*Sign in y Sign UP ---- */

  .libretanav {
    display: block;
  margin-top: 3%;
  margin-left: 5%;
  border-radius: 0;
  transform: rotate(-20deg);
  width: 15%;
  }

  .containersing2 {
  margin-top: 5%;
  margin-bottom: 1%;
  margin-left: 12vw;
  border-radius: 5px;
  background-color: white;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
  font-size: 80%;
  gap: 10px;
}

  .containersing2 h3{
  font-size: 200%;
}

 .header-subtitle {
  font-size:15px;
  margin-top: 10px;
  margin-bottom: 10px;
 }

.form-input input {
  border-style: none;
  background-color: #EAF1FE;
  height: 7vw;
  width: 40vw;
  padding: 3px;
  border-radius: 5px;
  justify-content: center;
  padding-left: 10px;
  font-size: 15px;
  text-align: center;
}
.form-input ::placeholder{
  font-size: 15px;
  color: #777;
  text-align: center;
}
.account{
  font-size: 15px;
}

.buttonSign {
  background-color: #98f5e1;
  width: 30%;
  height: 40px;
  border-radius: 5px;
  border-color: #98f5e1;
  font-size: 120%;
  font-style: bold;}

  .butLog{
    height: 50px;
    width: 90px;
    font-size: 150%;
    font-weight: 550;
    color:grey
  }

  /*Navegador -----*/


  .nav-ordernador{
    display: flex;
    flex-direction: row;
  }
.hamburger {
  display: none;
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  border: none;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  background-color: #000;
  transition: transform 0.2s ease-out;
}

.hamburger.active span:first-of-type {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-of-type(2) {
  opacity: 0;
}

.hamburger.active span:last-of-type {
  transform: translateY(-9px) rotate(-45deg);
}

/*New Tasks -------*/
.tituloNewTask {
  font-size: 200%;
}
.newTask{
  width: 30%;
}
.inputTitle{
  height: 40px;
  width: 220px;
}

.inTextDescp {
  width: 220px;
}

.buttonAdd {
  height: 80px;
}

.libretaclock{
  display:none
}

.imgClock{
  width: 100px;
}
}


/*--colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';*/

